{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hello from CoLearn!

You're receiving this email because you requested a password reset for your account.

Please go to the following page and choose a new password:{% endblocktranslate %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using CoLearn!" %}

{% blocktranslate %}The CoLearn Team{% endblocktranslate %}

{% endautoescape %} 