{% extends "courses/form_base.html" %}

{% block courses_title %}
{% if form.instance.pk %}Edit Module{% else %}Add Module{% endif %} - {{ course.title }}
{% endblock %}

{% block form_title %}
{% if form.instance.pk %}
Edit Module: {{ form.instance.title }}
{% else %}
Add New Module to {{ course.title }}
{% endif %}
{% endblock %}

{% block form_submit_text %}
{% if form.instance.pk %}Update Module{% else %}Add Module{% endif %}
{% endblock %}

{% block form_cancel_url %}{% url 'courses:course_detail' course.slug %}{% endblock %} 